{% extends 'blog/base_templates.html' %}

{% block content %}
<title>Блоги</title>
{% for blog in blogs %}
{% if blog.name %}
<div>
    <form action="{% url 'blog:detail_blog' blog.id %}">
    <input type="submit" value="{{blog.title}}">
</form>
    Автор:{{ blog.name }} {{blog.surname}}<br>
    <p>{{blog.text|truncatechars:99}}</p>
    <img src="{{blog.image.url}}">
    <p>{{blog.date}}</p>
</div>
    {% endif %}
    {% endfor %}
<form action="{% url 'recipe:all_recipes' %}">
    <input type="submit" value="До рецептів">
</form>
<form action="{% url 'home' %}">
    <input type="submit" value="На головну">
</form>
{% endblock %}