{% extends 'blog/base_templates.html' %}

{% block content %}
    <title>{{blog.title}}</title>

<div>
    Автор:{{ blog.name }} {{blog.surname}}<br>
    <p>{{blog.text}}</p>
    <img src="{{blog.image.url}}">
    <p>{{blog.date}}</p>
</div>
<form action="{% url 'recipe:all_recipes' %}">
    <input type="submit" value="До рецептів">
</form>
<form action="{% url 'blog:all_blog' %}">
    <input type="submit" value="До блогу">
</form>
<form action="{% url 'home' %}">
    <input type="submit" value="На головну">
</form>

{% endblock %}